
{% extends "_layouts/base.html" %}
{% block content %}
    <h2 class="subline">J4LP OAuth Gateway</h2>
    <p>OAuth is a protocol that lets external applications request authorization to your J4LP Auth account <strong>securely.</strong> That application will then be able to access your Eve-Online data based on what you will authorize.</p>
    <p>Nothing much to do here for the moment, why not visiting our other websites ?</p>
    <div class="row home-nav">
        <div class="col-md-3">
            <a href="http://auth.j4lp.com" class="btn btn-link btn-block home-nav-btn">Auth</a>
        </div>
        <div class="col-md-3">
            <a href="http://forum.j4lp.com" class="btn btn-link btn-block home-nav-btn">Forum</a>
        </div>
        <div class="col-md-3">
            <a href="http://wiki.j4lp.com" class="btn btn-link btn-block home-nav-btn">Wiki</a>
        </div>
        <div class="col-md-3">
            <a href="http://reddit.com/r/fweddit" class="btn btn-link btn-block home-nav-btn">Subreddit</a>
        </div>
    </div>

{% endblock %}
